# Credentials & Secrets
web-backend/counsconnect-ec0c3-firebase-adminsdk-fbsvc-2a2f285b22.json
*.env
*.env.*
.env
.env.local
.env.*.local
.env.*.js
*.pem
*.key
*.pub
config.local.js
secrets.json

# Database & API Keys
mongodb+srv://
mongodb://
DATABASE_URL
API_KEY
PRIVATE_KEY
SECRET_KEY

# Dependencies
node_modules/
/dist/
/.next/
.DS_Store

# Build outputs
/build/
*.go.sum
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
.env.development.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
